<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ist Messages App</title>
</head>
<body>

<h1>Welcome to our app!</h1>

<h2>Please try one of the features and enjoy !!! </h2>
<a href="/API/Users/SendMessageHTML/{{UserID}}">Send a Message</a>
<a href="/API/Users/DefineRange/{{UserID}}"> Define Range</a>
<a href="/API/Users/NearbyUsers/{{UserID}}">See Neaby Users</a>
<a href="/API/Users/ReceiveMessages/{{UserID}}">See the received Messages</a>
<a href="/API/Users/Logout">Logout</a>
</body>
</html>
